
<h1 class="text-center mt-4">Log In</h1>

<div class="container mt-4 w-50">
  <%= form_with(scope: :session,local: true,class: "shadow p-5 m-1 bg-info rounded") do |f| %>
    <div class="form-group row ">
      <%= f.label :email, class: "col-2 col-form-label" %></br>
      <div class="col-10">
        <%= f.text_field :email, class: "form-control",placeholder: "enter your email" %>
      </div>
    </div>

    <div class="form-group row ">
      <%= f.label :password, class: "col-2 col-form-label" %></br>
      <div class="col-10">
        <%= f.password_field :password, class: "form-control" ,placeholder: "enter password" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.submit "Log in" ,class: "btn btn-outline-light btn-lg m-auto" %>
    </div>
  <% end %>
</div>